#Vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.gitattributes

#Cache
.cache

#Apple
.DS_Store

#Idea
.idea/
app/.idea/

#Project
app/saved